<header class="header-beat text-black">
    <div class="max-w-7xl mx-2 px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-8">
            <a href="/" class="text-lg sm:text-2xl font-bold"><app-logo></app-logo></a>
            <nav class="hidden md:flex space-x-6">
                <a *ngIf="isAdmin()">ADMIN</a>
                <a *ngIf="isManager()">MANAGER</a>
                <a *ngIf="isUser()">USER</a>
                <a *ngIf="!isLoggedIn" routerLink="/login" class="hover:underline">Iniciar Sesión</a>
                <a *ngIf="isLoggedIn" (click)="logout()" class="hover:underline">Cerrar Sesión</a>
                <button (click)="darkMode()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                    </svg>                      
                </button>
            </nav>
            <button (click)="desplegarMenu()" class="md:hidden text-2xl text-black focus:outline-none">{{menuIcon}}</button>
      </div>
    </div>
</header>

<nav *ngIf="isMenuOpen" class="md:hidden header-beat p-4 space-y-2 text-lg text-black mt-2">
    <a *ngIf="isAdmin()">ADMIN</a>
    <a *ngIf="isManager()">MANAGER</a>
    <a *ngIf="isUser()">USER</a>
    <a *ngIf="!isLoggedIn" routerLink="/login" class="hover:underline">Iniciar Sesión</a>
    <a *ngIf="isLoggedIn" (click)="logout()" class="hover:underline">Cerrar Sesión</a>
    <button (click)="darkMode()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
        </svg>                      
    </button>
</nav>