<div class="home-presentation-component mt-5 items-center text-center">
    <header class="presentation-text-container">
        <div class="welcome-text text-5xl text-5xl mt-2">
            <h1>Bienvenido a Beat-On</h1>
        </div>

        <div class="welcome-description mt-2">
            <h2>En beat-on nos dedicamos a ofrecer el servicio de creación de instrumentales online</h2>
        </div>

        <div class="buttons mt-4">
            <button>
                    <p>Empezar a crear</p>
            </button>
            <button>
                    <p>Descubrir creaciones</p>
            </button>
        </div>
    </header>
</div>